.headers {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    background: steelblue;
}

h1 {
    font-weight: 700;
    padding: 2rem;
  }
  
  .button-login {
    font-weight: 400;
    padding: 2rem;
    margin: 1rem;
  }
  